# Node modules
node_modules/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# 3-12-2025